POSTGRES_DB='{{ keycloak_db_name }}'
POSTGRES_USER='{{ keycloak_db_user }}'
POSTGRES_PASSWORD='{{ keycloak_db_pass | mandatory }}'

# This fixes chmod errors on DB startup due to volume + userns-remap
PGDATA='/var/lib/postgresql/data/pgdata'
