---
version: '3.7'
services:
  app:
    container_name: '{{ keycloak_app_cont_name }}'
    image: '{{ keycloak_app_cont_image }}'
    restart: 'always'
    env_file: '{{ keycloak_service_path }}/app.env'
    ports:
      - '{{ keycloak_app_cont_public_port }}:8080/tcp'
      - '{{ keycloak_app_cont_metrics_port }}:9990/tcp'
    depends_on:
      - db

  db:
    container_name: '{{ keycloak_db_cont_name }}'
    image: '{{ keycloak_db_cont_image }}'
    restart: always
    command: |
      -p {{ keycloak_db_cont_port }}
    env_file: '{{ keycloak_service_path }}/db.env'
    ports:
      - '{{ keycloak_db_cont_port }}:{{ keycloak_db_cont_port }}'
    tmpfs:
      - '/run/postgresql:size=512K'
      - '/tmp:size=256K'
    volumes:
      - '{{ keycloak_db_cont_vol }}/data:/var/lib/postgresql/data'
      - '{{ keycloak_db_cont_vol }}/backup:/backup'
